<nav
  class="navbar navbar-expand-md navbar-ligth shadow-sm fixed-top bg-light text-dark"
>
  <div class="container-md">
    <a routerLink="/" class="navbar-brand">NaWa</a>

    <div class="collapse navbar-collapse mt-2" id="navbarCollapse">
      <ul
        class="navbar-nav me-auto mb-2 mb md-0"
        *ngIf="accountService.currentUser$ | async"
      >
        <li class="nav-item">
          <a routerLink="/members" class="nav-link" routerLinkActive="active"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/lists" class="nav-link" routerLinkActive="active"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/messages" class="nav-link" routerLinkActive="active"
            >Messages</a
          >
        </li>
      </ul>
      <div
        class="dropdown"
        *ngIf="accountService.currentUser$ | async as user"
        dropdown
      >
        <a
          class="dropdown-toggle text-dark text-decoration-none"
          dropdownToggle
          style="cursor: pointer"
          >Welcome {{ user.username | titlecase }}</a
        >
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item">Edit profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <form
        *ngIf="!(accountService.currentUser$ | async)"
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          type="text"
          placeholder="Username"
          class="form-control me-2"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          type="password"
          placeholder="Password"
          class="form-control me-2"
        />
        <button type="submit" class="btn btn-outline-success opacity-75">
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
