<nav
  class="navbar navbar-expand-md navbar-ligth shadow-sm fixed-top bg-light text-dark"
>
  <div class="container-md">
    <a href="#" class="navbar-brand">NaWa</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul
        class="navbar-nav me-auto mb-2 mb md-0"
        *ngIf="accountService.currentUserSource$ | async"
      >
        <li class="nav-item">
          <a href="" class="nav-link">Matches</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Lists</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Messages</a>
        </li>
      </ul>
      <div
        class="dropdown"
        *ngIf="accountService.currentUserSource$ | async"
        dropdown
      >
        <a
          class="dropdown-toggle text-light text-decoration-none"
          dropdownToggle
          >Welcome user</a
        >
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item">Edit profile</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <form
        *ngIf="!(accountService.currentUserSource$ | async)"
        #loginForm="ngForm"
        class="d-flex"
        (ngSubmit)="login()"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="model.username"
          type="text"
          placeholder="Username"
          class="form-control me-2"
        />
        <input
          name="password"
          [(ngModel)]="model.password"
          type="password"
          placeholder="Password"
          class="form-control me-2"
        />
        <button type="submit" class="btn btn-outline-success opacity-75">
          Login
        </button>
      </form>
    </div>
  </div>
</nav>
